<header>
  <nav class="nav justify-content-center">
    <a class="nav-link" routerLink="/">{{ title }}</a>
  </nav>
</header>

<main class="container">
  <section>
    <!-- secao quem sou eu -->
    <div>
      <h2>Quem eu Sou</h2>
    </div>

    <div>
      <img src="../assets/img/dimitri.jpg" alt="Dimitri" id="img-dimitri" />
    </div>

    <div>
      <p>
        Meu nome é Dimitri, eu tenho um diploma técnico em Análise e
        Desenvolvimento de Sistemas, e atualmente estou cursando o primeiro ano
        de universidade para tecnólogo em Análise e Desenvolvimento de Sistemas.
        <br />
        Eu possuo 1 ano de experiência profissional como desenvolvedor de
        software, onde alcancei o cargo de Programador Aprendiz.
      </p>
    </div>
  </section>

  <section>
    <!-- secao minha experiencia -->
    <div>
      <h2>Tecnologias com as quais eu Trabalhei</h2>
    </div>

    <div>
      <img src="../assets/img/dotnet.png" alt=".Net Framework" id="img-dotnet" />
    </div>

    <div>
      <img src="../assets/img/csharp.png" alt="C#" />
    </div>

    <div>
      <img src="../assets/img/sqlserver.png" alt="SQL Server" />
    </div>

    <div>
      <img src="../assets/img/angular.png" alt="Angular" />
    </div>

    <div>
      <img src="../assets/img/typescript.png" alt="Typescript" />
    </div>

    <div>
      <img src="../assets/img/bootstrap.png" alt="Bootstrap" />
    </div>
  </section>

  <section>
    <!-- secao meus projetos -->

    <div>
      <h2>Projetos que eu Construi</h2>
    </div>

    <div>
      <a routerLink="/">
        <img
          src="../assets/img/restaurant.png"
          alt="App Gerenciamento de Resturante"
        />
        <p>Gerenciamento de Restaurante</p>
      </a>
    </div>

    <div>
      <a routerLink="/">
        <img src="../assets/img/bugtracker.png" alt="App Bug Tracker" />
        <p>Bug Tracker</p>
      </a>
    </div>
  </section>

  <footer>
    <p>&copy; Dimitri 2021</p>
  </footer>
</main>
